/* --------------------------------css selectors------------------------------------------- */



/* --------------------------------UNIVERSAL  SELECTOR------------------------------------------- */

* {

    /* since we have used a universal selector over here, the text color of every element will change to pink. Even the text color of the buttons will change to pink. */
    /* color: pink; */


    /* similarly, the background color of all the elements like the body, the h1s, the buttons everything will change to cyan! */

    background-color: #f1faee;
}

/* --------------------------------ELEMENT SELECTOR------------------------------------------- */

/* changing the font-size of all the buttons to 30px */
button {
    font-size: 20px;
    background-color: #a8dadc;
}


/* --------------------------------SELECTOR LIST------------------------------------------- */

/* selector list - we can combine two element selectors seperated by a ,  */

h1, h2 {
    color: #1d3557
}
/* --------------------------------ID SELECTOR------------------------------------------- */

/* id selector - changes will be applied to only one button with the id sign up */

#sign-up {
    background-color: #1d3557;
    color:  #f1faee
}

/* changing the text color of all the span elements */

span {
    color: #457b9d
}

/* --------------------------------CLASS SELECTOR------------------------------------------- */

.tags {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* --------------------------------DESCENDANT SELECTOR------------------------------------------- */


/* anchor tag is the descendant of the element with the class posts */

.posts a {
    color: #457b9d; 
}

/* here we are targetting the anchor tag which is the descendant of the footer element which means that any anchor tag that is nested inside the footer element will be targetted and styled */
footer a {
    color: #e63946;
}

/* --------------------------------ADJACENT SELECTOR------------------------------------------- */

/* h2 + button -> this means that all the buttons that come after the h2 tag will be selected */

h2 + button {
    font-size: 15px;
    /* background-color: red; */
}

/* --------------------------------DIRECT DESCENDANT SELECTOR------------------------------------------- */


/* direct descendant selector -> targetting only those elements which are direct children of the parent element (which means that those elements are not nested inside any other type of element inside the parent element */


/* for ex : footer > a -> this will target only that anchor tag which is a children of the footer elemnent; not any anchor tags that are nested inside the ul element or any other elements */
footer > a {
    color: #457b9d; 
}



/* --------------------------------ATTRIBUTE SELECTOR------------------------------------------- */

/* for ex: let's say we want to only style the input whose type is password  */

input[type="password"] {
    color: red; 
}

/* only that input which has the type attribute = "password" will be selected and styled */
/* this type of selector is not commonly used */


/* --------------------------------PSEUDO CLASSES IN CSS------------------------------------------- */

/* adding hover effect to all the buttons inside the class posts*/

/* when the mouse cursor is hovered over the buttons, the styles will be added to the button  */

.posts button:hover {
    color: #f1faee;
    background-color: #e63946;

}


/* adding hover effect to the anchor tags inside the class posts */


.posts a:hover {
    color:#e63946;
    text-decoration: overline;
}


/* every even no of element with the class post will be selected and have a background-color of #aeb5ac*/

/* .posts :nth-of-type(2n) {
    background-color: #aeb5ac;
} */


/* --------------------------------PSEUDO ELEMENTS IN CSS------------------------------------------- */

/* selecting the first letter of every h2 and giving some style like increasing the size of the text */

h2::first-letter {
    font-size: 50px;
}

/* we can also do that to the entire document */

::selection {
    background-color: yellow;
    color: purple;
}

/* --------------------------------CSS Cascade------------------------------------------- */

/* the order your styles are declared and linked matters  */

/* for ex: we have already declared the h1s and h2s to have a particular color. that style that was already declared above can be overriden  */

h1, h2 {
    color: #e63946;
}
/* now this new color will be applied to all the h1s and h2s.   */