section {
    background-color: magenta;
    height: 500px;
    width: 500px;
}
/* demo of transperency using the alpha channel */
#rgba {
    background-color: rgba(191, 82, 101, 0.4);
    height: 50%;
    width: 50%;
}
/* demo of opacity */
#opacity {
    background-color: yellow;
    height: 50%;
    width: 50%;
    opacity: 0.5;
}