section {
    background-color: aqua;
    height: 800px;
    width: 800px;
}

div {
    background-color: blue;
    height: 50%;
    width: 50%;
}

/* when we use the % unit with the width and height property it is relative to the parent element (in this case the section), so the div will be 50% 0f 800 * 50% of 800 that is 400 * 400 */
/* when the % unit is used with other property such as the line-height, it will be relative to the element itself */

h1 {
    font-size: 80px;
    border: 1px solid black;
    line-height: 200%;
}

article {
    font-size: 60px;
}

h2 {
    font-size: 2em;
    /* the font size will be twice the font size of the parent element that is 120px */
}
p {
    font-size: 0.5em;
    /* the font-size of paragraph will be 0.5% of the parent element */
}

/* note: when we use ems with the font-size property, it will be relative to the font-size of the parent element. for ex: if the font-size of the parent element is 40px then 2em would mean 80px and 0.5em would mean 20px */
/* note: when we use ems with properties other than font-size, it will be relative to the element's font-size  */

/* demo of rem */
/* rem is relative to the root element whereas em is relative to the parent element */


ul {
    font-size: 2rem;
    /* font-size: 2em; */
}